<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:property-placeholder location="datasource.nodeConfig"/>

       <bean name="datasource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
              <!-- 基本属性 url、user、password -->
              <property name="url" value="${jdbc.url}"/>
              <property name="username" value="${jdbc.username}"/>
              <property name="password" value="${jdbc.password}"/>
              <!-- 配置初始化大小、最小、最大 -->
              <property name="initialSize" value="${connection_pools.initial_pool_size}"/>
              <property name="minIdle" value="${connection_pools.min_pool_size}"/>
              <property name="maxActive" value="${connection_pools.max_pool_size}"/>

              <!-- 配置获取连接等待超时的时间 -->
              <property name="maxWait" value="${connection_pools.max_wait_time}"/>

              <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
              <property name="timeBetweenEvictionRunsMillis" value="${connection_pools.checkout_timeout}"/>

              <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
              <property name="minEvictableIdleTimeMillis" value="${connection_pools.mix_idle_time}"/>

              <property name="validationQuery" value="SELECT 'x'"/>
              <property name="testWhileIdle" value="true"/>
              <property name="testOnBorrow" value="false"/>
              <property name="testOnReturn" value="false"/>

              <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
              <property name="poolPreparedStatements" value="false"/>
              <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>

              <!-- 配置监控统计拦截的filters -->
              <!-- wall 防SQL注入 -->
              <!-- 		<property name="filters" value="${druid.filters}" /> -->

              <property name="proxyFilters">
                     <list>
                            <ref bean="wall-filter"/>
                            <ref bean="stat-filter"/>
                            <ref bean="log4j-filter"/>
                     </list>
              </property>
       </bean>

       <bean id="wall-filter-nodeConfig" class="com.alibaba.druid.wall.WallConfig" init-method="init">
              <!-- 指定配置装载的目录  -->
              <property name="dir" value="META-INF/druid/wall/mysql"/>
              <property name="selectWhereAlwayTrueCheck" value="false"></property>
       </bean>

       <bean id="wall-filter" class="com.alibaba.druid.wall.WallFilter">
              <property name="dbType" value="mysql"/>
              <property name="nodeConfig" ref="wall-filter-nodeConfig"></property>
       </bean>

       <bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
              <!-- 记录慢SQL -->
              <property name="slowSqlMillis" value="${druid.slowSqlMillis}"/>
              <property name="logSlowSql" value="${druid.logSlowSql}"/>
       </bean>

       <bean id="log4j-filter" class="com.alibaba.druid.filter.logging.Log4jFilter">
              <!-- 打印可执行SQL -->
              <property name="statementExecutableSqlLogEnable" value="${druid.statementExecutableSqlLogEnable}"/>
       </bean>
</beans>