<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/stdout.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="hotSwapAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/hotSwap.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="actorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/actor.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="actorProfileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/actorProfile.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="asyncDBAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/asyncDB.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="partitionTaskAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/partitionTask.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="concurrentAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/concurrent.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="eventAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/event.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <appender name="httpAppender" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Append>true</Append>
        <encoder>
            <pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/http.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
    </appender>

    <!--                                       async                                                       -->
    <appender name="asyncSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="asyncERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERROR"/>
    </appender>

    <appender name="asyncHotSwapAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="hotSwapAppender"/>
    </appender>

    <appender name="asyncActorAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="actorAppender"/>
    </appender>

    <appender name="asyncActorProfileAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="actorProfileAppender"/>
    </appender>

    <appender name="asyncAsyncDBAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="asyncDBAppender"/>
    </appender>

    <appender name="asyncConcurrentAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="concurrentAppender"/>
    </appender>

    <appender name="asyncEventAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="eventAppender"/>
    </appender>

    <appender name="asyncHttpAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="httpAppender"/>
    </appender>

    <!--                                       logger                                                       -->
    <logger name="error" level="WARN" additivity="false">
        <appender-ref ref="asyncERROR"/>
    </logger>

    <logger name="hotSwap" level="INFO" additivity="false">
        <appender-ref ref="asyncHotSwapAppender"/>
        <appender-ref ref="asyncERROR" level="ERROR"/>
    </logger>

    <logger name="actor" level="INFO" additivity="false">
        <appender-ref ref="asyncActor"/>
        <appender-ref ref="asyncERROR" level="ERROR"/>
    </logger>

    <logger name="actorProfile" level="INFO" additivity="false">
        <appender-ref ref="asyncActorProfile"/>
        <appender-ref ref="asyncERROR" level="ERROR"/>
    </logger>

    <logger name="asyncDB" level="INFO" additivity="false">
        <appender-ref ref="asyncAsyncDBAppender"/>
        <appender-ref ref="asyncERROR" level="ERROR"/>
    </logger>

    <logger name="concurrent" level="INFO" additivity="false">
        <appender-ref ref="asyncConcurrentAppender"/>
        <appender-ref ref="asyncERROR" level="ERROR"/>
    </logger>

    <logger name="event" level="INFO" additivity="false">
        <appender-ref ref="asyncEventAppender"/>
        <appender-ref ref="asyncERROR" level="ERROR"/>
    </logger>

    <logger name="http" level="INFO" additivity="false">
        <appender-ref ref="asyncHttpAppender"/>
        <appender-ref ref="asyncERROR" level="ERROR"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="asyncSTDOUT"/>
    </root>


    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
    <!--<File>/log</File>-->
    <!--<Append>true</Append>-->
    <!--<encoder>-->
    <!--<pattern>[%p] %d{yyyy-MM-dd HH:mm:ss SSS} [%t] |  %C.%M\(%L\) : %msg%n%ex</pattern>-->
    <!--</encoder>-->
    <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--<level>INFO</level>-->
    <!--</filter>-->
    <!--</appender>-->
    <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
    <!--<fileNamePattern>tests.%i.log.zip</fileNamePattern>-->
    <!--<minIndex>1</minIndex>-->
    <!--<maxIndex>3</maxIndex>-->
    <!--</rollingPolicy>-->

    <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
    <!--<maxFileSize>5MB</maxFileSize>-->
    <!--</triggeringPolicy>-->


    <!--<logger name="Test" level="INFO" additivity="false">-->
    <!--</logger>-->
</configuration>